.font-for-user-cards {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-top-filter {
  background-color: #263238;
  margin: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white;
  border: none;
}

.btn-top-filter:hover {
  background-color: #065fd4 !important  ;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  color: white !important;
}
.card-userInfo {
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  margin-bottom: 10px;
  margin-left: 10px;
}

.categories-slector-btns {
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow:0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) ;
  border: none;
}

.categories-slector-btns:hover  {
  background-color: #030303;
  color: white !important;
}

.categories-selector-text-div{
  text-align: center;
}
