.nav-bar {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  align-items: center;
  position: fixed;
  z-index: 990;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.mobile-nav-bar {
  display: none;
}
.nav-img-div {
  width: 10%;
}
.nav-logo-image {
  width: 100%;
  height: auto;
}
.nav-links-ul-dek-mod,
.nav-links-ul-dek-mod-darkmode {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-direction: row-reverse;


}
.nav-links ul li:hover {
  padding-left: 9px !important;
}
.nav-links-ul-dek-mod li a,
.nav-links-ul-dek-mod-darkmode li a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-family: roboto;
}

.nav-links-ul-dek-mod li svg,
.nav-links-ul-dek-mod-darkmode li svg {
  margin-bottom: -1px;
}

.nav-links-ul-dek-mod li span {
  font-family: roboto;
}
.nav-links-ul-dek-mod li :hover {
  color: #fff;
}
.nav-links-ul-dek-mod-darkmode li :hover {
  color: #e79311;
}
.nav-links-ul-dek-mod li:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -4px;
  left: 200px;
}
.btn-5-myprofile {
  background-color: #263238;
  color: white;
  font-family: Oswald;
}

.login-logout-btn-mobnav-6,
.login-logout-btn-6 {
  background-color: #263238;
  color: white;
  font-family: Oswald;
}

.login-logout-btn-mobnav-6:hover,
.login-logout-btn-6:hover,
.theme-btn:hover,
.btn-5-myprofile:hover {
  background-color: #3B40B5 !important;
  color: white !important;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.theme-btn {
  background-color: #263339;
  color: white;
}

.login-logout-btn-mobnav-6,
.login-logout-btn-6,
.theme-btn,
.btn-5-myprofile {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: none;
}

@media screen and (max-width: 650px) {
  .login-logout-btn-6,
  .div-for-navdeck-links,
  .nav-links-ul-dek-mod li a {
    display: none;
  }
  .mobile-nav-bar {
    display: block;
  }
  .nav-img-div {
    width: 40%;
  }
  .nav-logo-image {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .login-logout-btn-6,
  .div-for-navdeck-links,
  .nav-links-ul-dek-mod li a {
    display: none;
  }
  .mobile-nav-bar {
    display: block;
  }
  

}
@media screen and (max-width: 650){

}


