.title-hadith{
  font-family: 'Roboto Serif', serif;
  font-weight: 700 !important;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.cards-quraan-hadith {
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  margin-bottom: 20px;
  margin-left: 10px;

}

.urdu-hadith{
  font-family: 'Noto Nastaliq Urdu', serif;
  margin-bottom: 10px;
  font-size: 20px;;
}

.english-hadith {
  font-family: 'Roboto Serif', serif;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500 !important;
  
}