.font-for-user-cards {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown.ant-dropdown-trigger {
  width: 100%;
  border: 1px solid;
  font-size: larger;
  font-weight: 600;
}

.dropdown {
  margin: 15px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.ant-select-dropdown {
  z-index: 2;
}

.dropdown .ant-select-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.input {
  margin: 15px;
}
.btn-top-filter,
.btn-searchfilter-exit,
.btn-searchfilter-clear,
.btn-searchfilter-search {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border: none;
}

.btn-top-filter {
  background-color: #eacf54;
  margin: 15px;
}

.btn-searchfilter-exit {
  background-color: white;
}
.btn-searchfilter-clear {
  background-color: #c23616;
}
.btn-searchfilter-search {
  background-color: #eacf54;
}

.btn-searchfilter-exit:hover,
.btn-searchfilter-search:hover,
.btn-searchfilter-clear:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  color: white !important;
  background-color: black;
}

.filter-conatiner-btns-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fliter-conatier-buttons {
  display: flex;
}
.card-userInfo {
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
