.font-for-user-cards {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 80%;
}
.user-image {
  margin-top: 8px;
  height: 80px;
  width:  70px;
}

@media screen and (max-width: 400px) {
  .users-card-detail-div {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .user-image {
    margin-top: 8px;
    height: 80px;
    width:  70px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown.ant-dropdown-trigger {
  width: 100%;
  border: 1px solid;
  font-size: larger;
  font-weight: 600;
}

.dropdown {
  margin: 15px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.ant-select-dropdown {
  z-index: 2;
}

.dropdown .ant-select-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.input {
  margin: 15px;
}
.btn-top-filter-search,
.btn-searchfilter-exit,
.btn-searchfilter-clear,
.btn-searchfilter-search {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border: none;
}

.btn-top-filter-search,
.btn-top-filter-search-darkTheme {
  background-color: #eacf54;
  margin: 15px;
  border: none;
}
.btn-top-filter-search-darkTheme {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.16),
    0 2px 10px rgba(255, 255, 255, 0.12);
}
.btn-top-filter-search-darkTheme:hover,
.btn-top-filter-search:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white !important;
}
.btn-searchfilter-exit {
  background-color: white;
}
.btn-searchfilter-clear {
  background-color: #c23616;
}
.btn-searchfilter-search {
  background-color: #eacf54;
}

.btn-searchfilter-exit:hover,
.btn-searchfilter-search:hover,
.btn-searchfilter-clear:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  color: white !important;
  background-color: black;
}

.filter-conatiner-btns-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fliter-conatier-buttons {
  display: flex;
}
.card-userInfo,
.card-userInfo-darkTheme {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.card-userInfo-darkTheme {
  border: 1px solid white;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.16),
    0 2px 10px rgba(255, 255, 255, 0.12);
}
.card-userInfo {
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.fliter-of-search-dek {
  border: 1px solid gray;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  width: auto;
}

.fliter-of-search-input-mobile {
  display: none;
}
.search-filter-dec-btn-div {
  text-align: center;
  margin-bottom: 20px;
}
.search-filter-dec-btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border: none;
  color: white;
  background-color: #263238;
}
.search-filter-dec-btn:hover {
  color: white !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
@media screen and (max-width: 991px) {
  .fliter-of-search-dek {
    display: none;
  }
  .fliter-of-search-input-mobile {
    display: block;
    margin-top: 10px;
  }
  .search-filter-mobile-btn-div {
    text-align: center;
  }
  .search-filter-mobile-btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: none;
    color: white;
    background-color: #263238;
  }
  .search-filter-mobile-btn:hover {
    color: white !important;
  }
}
