.btn-1-search,
.btn-2-guidliness,
.newprofile-home-visit-btn-2 {
  box-shadow: 4.3px 2.3px 2.1px rgba(0, 0, 0, 0.024),
    9.3px 5px 5px rgba(0, 0, 0, 0.034), 15.8px 8.5px 9.6px rgba(0, 0, 0, 0.041),
    25.6px 13.7px 18.3px rgba(0, 0, 0, 0.05),
    44.9px 24.1px 38.5px rgba(0, 0, 0, 0.059),
    112px 60px 80px rgba(0, 0, 0, 0.07);
}
.about-discription-1,
.about-discription-2 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}
.homepage {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: 15s infinite Gradient;
  position: relative;
  margin-top: 60px;
}
.about-discription-1 {
  font-family: Roboto, sans-serif;
}
.btn-1-search,
.btn-2-guidliness {
  color: #000;
  font-family: Oswald;
  border: none;
}
.discription-about-row {
  text-align: left;
}
#heading-title {
  color: #fff;
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 300;
  font-style: italic;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .discription-about-row {
    text-align: center;
  }
  #heading-title {
    font-size: medium;
  }
}
.cube {
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 10px;
  height: 10px;
  border: 1px solid #e79311;
  transform-origin: top left;
  transform: scale(0) rotate(0) translate(-50%, -50%);
  animation: 12s ease-in infinite forwards cube;
}
.cube:nth-child(2n) {
  border-color: #eacf54;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 30vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 20vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 20vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
.btn-1-search {
  background-color: #eacf54;
}
.btn-1-search:hover {
  background-color: #eacf54 !important;
  color: white !important;
}
.btn-2-guidliness {
  background-color: #e79311;
}
.btn-2-guidliness:hover {
  background-color: #e79311 !important;
  color: white !important;
}
.about-text-section {
  font-family: "Kaushan Script";
}
.about-text-section:hover {
  transform: scale(1.3);
}
.about-discription-2 {
  font-family: Roboto, sans-serif;
  color: #df3768;
}
.cards-in-animation {
  -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    cards-in-animation;
  animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both cards-in-animation;
}
.iframe-card-guidline {
  width: 97% !important;
}
.react-dots-icons {
  margin-bottom: -6px;
}
.meta-discriptions-titles {
  font-family: Oswald;
  text-align: center;
}
.newprofile-home-title,
.newprofiles-home-discription {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.font-for-user-cards {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.newprofile-home-visit-btn-2 {
  margin-top: 10px;
  background: linear-gradient(90deg, #525a69, #898dda);
  border: none;
  color: #000;
  font-family: Oswald;
}
@-webkit-keyframes cards-in-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes cards-in-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
