.btn-1-editeprofile{
  background-color: #155724;
  color: white;
  font-family: Oswald;
  border: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.btn-1-editeprofile:hover{
  background-color:darkblue !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.user-profile-page-guidelines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.profile-alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.user-profile-card-discription {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.user-profile-photo-not-avl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.preview-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-details {
  align-self: flex-start;
}
.download-bioData {
  align-self: flex-end;
}
@media (max-width: 600px) {
  .preview-user {
    flex-direction: column;
  }
  .download-bioData {
    align-self: center;
  }
}
.user-profile-personal_info {
  margin-top: 20px;
}
.user-profile-personal_info .ant-col {
  border: 1px solid #e9dc23;
  padding: 15px 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.user-profile-tb-title {
  background-color: #e79311;
}
.conact-info-title .ant-col {
  border: none;
}
.conact-info-note {
  border-radius: 5px;
  background-color: #eacf54;
  width: 90%;
}
